services:
    # PHP-FPM
    app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/var/www/html
        networks:
            - blog-network

    # Nginx
    web:
        image: nginx:latest
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - blog-network

    # MySQL
    mysql:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: blog_db
            MYSQL_ROOT_PASSWORD: root_password
        ports:
            - "3308:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - blog-network

networks:
    blog-network:
        driver: bridge

volumes:
    db_data:
